body {
  font-family: 'Open Sans', sans-serif;
}

.row-layout {
  /* The content from the exericse goes here */
}

.box {
  /* The value for flex goes here */
  margin: .5vw;
  border: 1px solid #444;
  padding: .5vw;
  width: 300px;
  
}
.box img {
  width: 100%;
  height: auto;
}
